@model IEnumerable<Paciente>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Pacientes</h1>

<form action="@Url.Action("Index","Hospital")" method="post" class="mt-3">
    <div class="row">
        <div class="col">
            <input class="form-control" placeholder="Identificacion" name="Id"></input>
        </div>
        <div class="col">
            <input class="form-control" placeholder="Nombre Enfermedad" name="Enfermedad"></input>
        </div>
        <div class="col-auto">
            <button class="btn btn-outline-dark">Aplicar</button>
        </div>
    </div>
    
</form>

<table class="table text-center mt-5">
    <thead>
        <tr>
            <th>
                Identificacion
            </th>
            <th>
                Nombre
            </th>
            <th>
                Altura
            </th>
            <th>
                Genero
            </th>
            <th>
                Enfermedad
            </th>
            <th>
                Peso
            </th>
            <th>
                Telefono
            </th>
        </tr>
    </thead>
    <tbody >
        @foreach (Paciente pe in Model)
        {
            <tr>
                <td>
                    @pe.Identificacion
                </td>
                <td>
                    @pe.Nombre
                </td>
                <td>
                    @pe.Altura  
                </td>
                <td>
                    @pe.Genero  
                </td>
                <td>
                    @pe.Enfermedad.Nombre  
                </td>
                <td>
                    @pe.Peso
                </td>
                <td>
                    @pe.Telefono
                </td>
            </tr>
        }
    </tbody>
</table>
